/* css styles */
.interests-education {
  font-size: 0.75em; 
}

.university {
  font-size: 0.8em; 
}

.degree {
  font-size: 1.5em; 
}

.exams {
  font-size: 0.75em; 
}

.specialization {
  font-size: 0.75em; 
}