/* css styles */
.interests-education {
  font-size: 0.75rem; 
}

.university {
  font-size: 0.8rem; 
}

.degree {
  font-size: 1.0rem; 
}

.exams {
  font-size: 0.75rem; 
}

.specialization {
  font-size: 0.75rem; 
}